.MainLayout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.PageContainer {
  padding: 1rem;
  flex: 1;
  background: var(--secondary);

  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}
