:root {
  --primary: #e8a3af;
  --secondary: #1f2041;
  --dark-primary: #a85261;
  --font-primary: "Quicksand", Helvetica, Arial, sans-serif;
  --font-secondary: "Caveat", cursive;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--primary);
  font-family: var(--font-primary);
  color: #fff;
}
